#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* #playerAnswer {
  width: fit-content;
  font-size: 3em;
  border: none;
  color: cadetblue;
} */

.orange {
  color: #EF8354;
}

.orange-border {
  border: 1px solid #EF8354;
  border-radius: 3px;
}

input:focus {
  outline-color: #EF8354;
}

.letter {
  display: inline;
}

.marginTop_btn {
  margin-top: 1em;
}

.table {
  width: 100%;
}

.nickname {
  position: absolute;
  top: 1em;
  right: 2em;
}

.timer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}


.start-game-page {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;

}
