#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* #playerAnswer {
  width: fit-content;
  font-size: 3em;
  border: none;
  color: cadetblue;
} */

.orange {
  color: #EF8354;
}

input:focus {
  outline-color: #EF8354;
}

.letter {
  display: inline;
}

.marginTop_btn {
  margin-top: 1em;
}